.form_inputs {
    display: flex;
    flex-direction: column;
    margin: 3vh 0 8px;
    padding: 1vh 1vw;
    border: 2px solid transparent;
    border-radius: 6px;
    background: #D0E8FF;
}
.input_element {
    margin: 0 1vw 0.2em;
    min-width: 16vw;
}
.label_text {
    font-size: 1.2em;
    line-height: 1em;
    margin-bottom: 0.1rem;
}
