.form-inputs {
  display: flex;
  flex-direction: column;
  margin: 3vh 0 8px;
  padding: 1vh 1vw;
  border: 2px solid transparent;
  border-radius: 6px;
  background: #1c93e2;
}

.area-inputs {
  display: flex;
  flex-wrap: wrap;
  max-width: 76vw;
}

.input-element {
  margin: 0 1vw 0.2em;
  min-width: 16vw;
}

.entry-field {
  background-color: rgb(198, 229, 255);
}

.label-text {
  color: white;
  font-size: 1.2em;
  line-height: 1em;
  margin-bottom: 0.1rem;
}

.description-text {
  padding-left: 1em;
  color: rgb(238, 238, 238);
  font-style: italic;
}

.buttons-block {
  display: flex;
  justify-content: center;
}

.button-element {
  margin: 1em 2vw 0;
  width: 8vw;
  background-color: rgb(28, 88, 199);
}

/* .search_select {
  background-color: rgb(198, 229, 255);
} */
/* .search_select div {
  color: black;
  background-color: rgb(198, 229, 255);
} */
/* .search_select div:hover {
  background-color: rgb(128, 192, 245);
}

.search_select:only-child {
  background-color: rgb(128, 192, 245);
} */
