.caption {
    height: 80px;
    background-color: #D0E8FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main_text {
    margin: 0;
    font-size: 22px;
  }
  .secondary_text{
    margin: 0;
  }
  .form-container{
    width: 100%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 20px;
}
.header{
    display: flex;
    grid-gap: 40px;
    align-items: center;
    margin-bottom: 10px;
}
.buttons_container {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.decline_button {
    margin-top: 15px;
    margin-left: 15px;
    width: 150px;
    height: 40px;
    border: 1px solid #2EABFF;
    box-shadow: 7px 7px 10px rgba(9, 9, 9, 0.18), -2px -2px 4px rgba(251, 252, 255, 0.1);
    border-radius: 12px;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.decline_button:hover {
    cursor: pointer;
    border: 1px solid red;
    background-color: #ffc4c481;
    transition: 0.5s;
    color: black;
}
.reg_button {
    margin-top: 15px;
    margin-left: 15px;
    width: 211px;
    height: 40px;
    background: #2eabff;
    box-shadow: 7px 7px 10px rgba(9, 9, 9, 0.18), -2px -2px 5px rgba(251, 252, 255, 0.05);
    border-radius: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reg_button:hover {
    cursor: pointer;
    background-color: #1f86ca;
    transition: 0.5s;
}