.header-bg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(4, 108, 181, 255) 0%,
    rgba(2, 73, 122, 255) 100%
  );
}

.left-header-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-logo {
  height: 8vh;
  margin: 1vh 0.5vw 1vh 0.5vw;
}

.gims-logo {
  height: 8vh;
  margin: 1vh 1vw 1vh 0;
}

.titles-container {
  display: flex;
  flex-direction: column;
}

.page-title {
  color: white;
  font-size: 1.5em;
  margin: 0;
}

.page-title-secondary {
  color: white;
  margin: 0;
  font-size: 1.4em;
}
.logout {
  margin-right: 1vw;
}
