.text_secondary {
  align-self: flex-start;
  color: #808080;
  font-weight: bold;
  font-size: 19px;
}

.table_content {
  width: 100%;
}

.add__buttons {
  font-size: 1.4em;
  line-height: 1em;
  font-weight: 700;
  padding: 0.2em 0.4em 0.34em;
  margin: -0.4em 0 0.3em;
}

.edit__column {
  width: 4%;
}

.delete__buttons {
  width: 2.2em;
  height: 2.2em;
  font-size: 0.9em;
  line-height: 1em;
  font-weight: 700;
  padding: 0.3em 0.3em 0.24em;
  display: block;
  margin: 0.1em auto;
  color: red;
}

.checkbox {
  -webkit-appearance: none;
  background-color: #f1f1f1;
  border: 1px solid #cacece;

  padding: 0.9em;
  border-radius: 3px;
  display: inline-block;
  margin: 0.2em 0;
}
.checkbox:checked {
  background-color: #fd0d0d;
  border: 1px solid #adb8c0;
  padding: 0.14em 0.5em;
}
.checkbox:checked:after {
  content: '\271A';
  color: white;
  font-size: 1.2em;
}
