.text_secondary {
  align-self: flex-start;
  color: #808080;
  font-weight: bold;
  font-size: 19px;
}

.table_content {
  width: 100%;
}

.add__buttons {
  font-size: 1.4em;
  line-height: 1em;
  font-weight: 700;
  padding: 0.2em 0.4em 0.34em;
  margin: -0.4em 0 0.3em;
}

.edit__column {
  width: 4%;
}

.delete__buttons {
  width: 2.2em;
  height: 2.2em;
  font-size: 0.9em;
  line-height: 1em;
  font-weight: 700;
  padding: 0 !important;
  /* text-align: center; */
  display: block;
  margin: 0.1em auto;
  color: red;
}

.checkbox {
  -webkit-appearance: none;
  background-color: #f1f1f1;
  border: 1px solid #cacece;

  padding: 0.9em;
  border-radius: 3px;
  display: inline-block;
  margin: 0.2em 0;
}
.checkbox:checked {
  background-color: #fd0d0d;
  border: 1px solid #adb8c0;
  padding: 0.14em 0.5em;
}
.checkbox:checked:after {
  content: '\271A';
  color: white;
  font-size: 1.2em;
}
.button_remove_engine{
  width: 100%;
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: #fd0d0d!important; /* фон кнопки */
  padding: .3em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
  border: none;
}
.button_remove_engine:hover { background: rgb(215, 44, 8) !important; } /* при наведении курсора мышки */
.button_remove_engine:active { background: rgb(152,15,0); } /* при нажатии */
