.caption {
  height: 80px;
  background-color: #D0E8FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_text {
  margin: 0;
  font-size: 22px;
}
.secondary_text{
  margin: 0;
}