.sidebar_navlink {
  display: block;
  text-decoration: none;
  color: white;
  margin: 0.2em;
  white-space:pre-wrap;
}
.sidebar_navlink:hover {
  background-color: #a1aabb;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  border-radius: 0.5em;
  cursor: pointer;
}
.colored {
  background-color: #a1aabb;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  border-radius: 0.5em;
}
